
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index7</title>
</head>
<body>
    Burası Sayfanın Layout Alanıdır.
    <br />
    @RenderBody()
</body>
</html>
