
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index6</title>
</head>
<body>
    <div>@ViewBag.deger1</div>
</body>
</html>
