@model List<project1.Models.Kitap>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index5</title>
    <link href="~/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />

</head>
<body>
    <h4>Kitap Sayfası</h4>
    <table class="table table-bordered">
        @foreach (var k in Model)
        {
            <tr>
                <td> @k.ID</td>
                <td> @k.KitapAd</td>
                <td> @k.Yazar</td>
                <br />
            </tr>
        }
    </table>
    <button class="btn btn-warning">Tablo Listesi</button>


</body>
</html>
